@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;

    @media (min-width: 768px) {
        font-size: 11px;
    }

    @media (min-width: 992px) {
        font-size: 12px;
    }

    @media (min-width: 1200px) {
        font-size: 13px;
    }
}

body {
    position: relative;
    min-height: 100vh;
    font-family: 'Questrial', sans-serif;
    color: $base-font;
}

a {
    text-decoration: none;
    color: $base-font;
}

button {
    font-family: 'Questrial', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

.page-wrapper {
    padding-bottom: 12rem;
}