.button {
    font-size: 1.5rem;
    color: $base-font;
    border: solid 1px $base-font;
    border-radius: 8px;
    cursor: pointer;

    &--small {
        padding: 0.5rem 1.5rem;
        background-color: #fff;
    }

    &--design-ad {
        padding: 1rem 4rem;
        background-color: rgba($color: #fff, $alpha: 0.5);
        color: #000;
        border-color: transparent;
    }

    &--footer {
        font-size: 1.2rem;
        border: none;
    }

    &--empty {
        background-color: transparent;
        border: none;
    }

    &--add-to-cart {
        padding: 1rem 4rem;
        background-color: $base-background;
    }
}