.menu-drop-down {
    position: absolute;
    top: 1rem;
    left: 6%;
    display: flex;
    padding: 0 10% 10% 10%;
    flex-direction: column;
    background-color: #fff;
    list-style: none;
    transition: 0.3s;
    z-index: 1;

    &__item {
        padding-top: 30%;
        text-align: left;
    }
}