.small-cart {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid $base-font;
    z-index: 10;

    &__product {
        position: relative;
        display: flex;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        background-color: $base-background;
        border: 0.1px solid $light-border;

        a {
            width: 30%;
        }

        &__image {
            width: 100%;
        }

        &__informations {
            display: flex;
            flex-direction: column;
            margin: 0.5rem 0 0.5rem 0.5rem;

            a {
                transition: .3s;

                &:nth-child(1) {
                    font-size: 1.2rem;
                }

                &:nth-child(2) {
                    flex-grow: 1;
                    margin-top: 0.2rem;
                    opacity: .7;
                }

                &:hover {
                    opacity: .5;
                }
            }

            p {
                &:nth-child(3) {
                    font-size: 1.5rem;
                }
            }

            &__delete {
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                width: 1rem;
                height: 1rem;
            }

            &__amount-wrapper {
                position: absolute;
                bottom: 1rem;
                right: 0.5rem;

            }
        }
    }

    &__empty-cart {
        margin: 1.5rem;
        font-size: 1.5rem;
        text-align: center;
        white-space: pre;
    }

    &__overall-price {
        margin: 1.5rem 0.5rem 0.5rem 0;
        font-size: 1.2rem;
        text-align: right;
    }
}