.small-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1%;
    background-color: $base-background;
    max-width: 48%;

    @media (min-width: 576px) {
        max-width: 31%;
    }

    @media (min-width: 1200px) {
        max-width: 18%;
    }

    &__product-image {
        width: 100%;

        &--placeholder {
            min-height: 20rem;
            width: 48vw;
            background-color: transparent;

            @media (min-width: 576px) {
                width: 31vw;
            }

            @media (min-width: 1200px) {
                width: 18vw;
            }
        }
    }

    &__name-price {
        padding: 10% 0 15% 0;
        margin-bottom: auto;

        @media(min-width: 768px) {
            padding: 5% 0 10% 0;
        }

        &__name {
            font-size: 2rem;
            padding-bottom: 1rem;
            text-align: center;

            @media (min-width: 1200px) {
                font-size: 1.7rem;
            }
        }

        &__price {
            font-size: 1.5rem;
            text-align: center;
        }
    }

    &__buttons-wrapper {
        position: relative;
        padding: 10% 0;

        &__add-to-cart {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(300%, -50%);
            width: 1.5rem;
            height: 1.5rem;
            cursor: pointer;
        }
    }
}