.about-me {
    @media (min-width: 992px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    &__image {
        width: 100%;
        padding: 5%;
        margin-bottom: 2rem;
        border-radius: 50%;

        @media (min-width: 992px) {
            width: 40%;
            margin-bottom: 0;
        }

        @media (min-width: 1200px) {
            width: 35%;
            margin-bottom: 0;
        }
    }

    &__text {
        padding: 5%;
        background-color: $base-background;

        &__description {
            margin-top: 2rem;
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }
}