.about-me {
    padding: 5%;

    @media (min-width: 992px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    &__image {
        width: 100%;
        margin-bottom: 2rem;

        @media (min-width: 992px) {
            width: 40%;
            margin-bottom: 0;
        }

        @media (min-width: 1200px) {
            width: 30%;
            margin-bottom: 0;
        }
    }

    &__text {
        @media (min-width: 992px) {
            padding-right: 5%;
        }

        &__description {
            margin-top: 2rem;
            font-size: 1.8rem;
            letter-spacing: 1px;
            line-height: 2.2rem;
        }
    }
}