.footer-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    height: 12rem;
    padding: 5% 3%;
    border-top: solid $base-font 1px;

    &--no-border {
        border: none;
    }

    @media (min-width: 576px) {
        justify-content: space-between;
        padding: 3%;
    }

    @media (min-width: 992px) {
        justify-content: space-between;
        padding: 1% 3%;
    }

    &__column {
        display: flex;
        flex-direction: column;

        &__link-wrapper {
            margin: 0.5rem 0;
            text-align: right;

            &:nth-last-child(1) {
                margin-bottom: 0;
            }

            &--left {
                text-align: left;

                @media (min-width: 576px) {
                    text-align: right;
                }
            }

            &--right {
                text-align: right;

                @media (min-width: 576px) {
                    text-align: left;
                }
            }
        }

        &--left,
        &--right {
            flex-basis: 35%;
        }

        &--middle {
            justify-content: space-between;
            text-align: center;
        }

        &__button {
            font-size: 1.2rem;
        }

        &__logo {
            font-family: 'Amatic SC', sans-serif;
            font-size: 2.5rem;
        }

        &__icons {
            display: flex;
            justify-content: center;

            img {
                max-width: 2rem;
                margin-right: 0.5rem;
            }
        }

        &__copywrite {
            font-size: 1rem;
        }
    }
}