.header {
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5%;
    // overflow: hidden;

    &--active {
        overflow-x: auto;
    }

    @media (min-width: 480px) {
        justify-content: space-between;
    }

    @media (min-width: 768px) {
        justify-content: none;
    }

    &__cart-menu-icons {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;

        @media (min-width: 480px) {
            flex-grow: 0;
        }
    }

    &__cart {
        position: relative;
        margin-right: 1.5rem;

        @media (min-width: 768px) {
            margin-right: 0;
            margin-left: 1.5rem;
        }

        .cart-icon {
            display: block;
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}