.hero {
    position: relative;

    @media (min-width: 576px) {
        padding: 0 3%;
    }

    &__social-media {
        position: absolute;
        top: 3%;
        left: 3%;
        z-index: 2;

        img {
            margin-left: 1rem;
            width: 2rem;
            height: 2rem;
        }
    }

    &__image {
        width: 100%;
        height: 75vh;
        object-fit: cover;

        @media (min-width: 576px) {
            border-radius: 8px;
        }
    }
}