.orders {
    flex-grow: 2;
    height: 1%;
    margin: 2rem 3%;
    border: 0.5px solid $light-border;

    @media (min-width: 768px) {
        margin: 2rem 10%;
    }

    @media (min-width: 1200px) {
        margin-top: 5rem;
    }

    .order {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;

        &:nth-of-type(odd) {
            background-color: $base-background;
        }

        @media (min-width: 768px) {
            flex-direction: row;
            align-items: center;
        }

        &__detail {
            font-size: 1.6rem;
            padding: 0.5rem 0 0.5rem 1rem;
            flex-basis: 12.5%;

            &:nth-child(1) {
                flex-basis: 40%;
            }

            &:nth-child(5) {
                padding-right: 1rem;
                flex-basis: 7.5%;

                @media (min-width: 768px) {
                    text-align: center;
                } 
            }

            img {
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }
    }
}