.rules {
    margin: 2rem 0;
    padding: 0 5%;

    &__content {
        padding: 2rem 0;
        font-size: 1.4rem;
        line-height: 2rem;
        list-style-position: inside;

        li {
            margin: .5rem 0;
            p {
                display: inline;
                padding-left: .5rem;
                
                p {
                    display: block;
                    padding-left: 3rem;
                }
            }
        }
    }
}